<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="5; ">
</head>
<body>
    <p>Redirecting to the home page in <span id="countdown">5</span> seconds...</p>
</body>
<script>
    var countdownDisplay = document.getElementById('countdown');
    var count = 5; // Set the initial countdown value in seconds
    countdownDisplay.textContent = count;

    var countdown = setInterval(function() {
        count--;
        countdownDisplay.textContent = count;
        if (count <= 0) {
            clearInterval(countdown); // Stop the countdown when it reaches zero
            var user_name = "{{ user_name }}";
            window.location.href = `/logged/${user_name}`; // Redirect after countdown
        }
    }, 1000); // Update countdown every second (1000 milliseconds)
</script>
</html>
