<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="5; ">
</head>
<body>
    <p>Redirecting to the home page in <span id="countdown">3</span> seconds...</p>
</body>
<script>
    var countdownDisplay = document.getElementById('countdown');
    var count = 3;
    countdownDisplay.textContent = count;

    var countdown = setInterval(function() {
        count--;
        countdownDisplay.textContent = count;
        if (count <= 0) {
            clearInterval(countdown); 
            window.location.href = `/homePage`; 
        }
    }, 1000); // Update countdown every second (1000 milliseconds)
</script>
</html>
